<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Enrollment</title>
  <link rel='stylesheet' href='/style.css'>
</head>



<body>
  <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/all-students">View All Students</a></li>
      <li><a href="/home/new-student">Enroll Student</a></li>
  </ul>

  
  <%= yield %>
</body>


</html>
