<form method="post" class="new-update" action="/create-student">

  <label for="first-name">First Name: </label>
    <input id="first-name" type="text" name="first_name" />

  <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" name="last_name" />

  <label for="age">Age: </label>
    <input id="age" type="number" min="0" name="age" />

  <label for="house-id">House: </label>
    <select id="house-id" name="house_id">
      <% for house in @houses %>
      <option value="<%=house.id%>"><%=house.name%></option>
      <%end%>
    </select>

  <input type="submit" value="Create Student" />

</form>
